In [1]:
import pandas as pd

In [10]:
#Obtain prescription drug data
rx = pd.read_csv('../../DE1_0_2008_to_2010_Prescription_Drug_Events_Sample_2.csv')

/Users/ksenia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
rx.head()

,DESYNPUF_ID,PDE_ID,SRVC_DT,PROD_SRVC_ID,QTY_DSPNSD_NUM,DAYS_SUPLY_NUM,PTNT_PAY_AMT,TOT_RX_CST_AMT
0,00000B48BCF4AD29,83224466404678,20100207,185010401,30.0,30,0.0,10.0
1,00000B48BCF4AD29,83654467130740,20100312,115163303,100.0,30,0.0,30.0
2,00000B48BCF4AD29,83574462630098,20100421,117193205,20.0,20,0.0,160.0
3,00000B48BCF4AD29,83734462622581,20100427,19458016707,30.0,30,10.0,0.0
4,00000B48BCF4AD29,83594462991534,20100611,59746011109,30.0,30,0.0,0.0

In [3]:
patient_demographics = pd.read_csv('preprocessed_data.csv')

In [5]:
patient_demographics.head()

,Unnamed: 0,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,...,SP_OSTEOPRS,SP_RA_OA,SP_STRKETIA,MEDREIMB_OP,BENRES_OP,PPPYMT_OP,DEATH,CLM_ADMSN_DT,Y,fst_admsn_dt
0,0,00000B48BCF4AD29,19230901,NaN,2,5,10,260,2,1,...,2,2,2,600.0,30.0,0.0,0,20080707.0,0,NaN
1,1,00000B48BCF4AD29,19230901,NaN,2,5,10,260,2,1,...,2,2,2,600.0,30.0,0.0,0,20080724.0,0,NaN
2,2,00000B48BCF4AD29,19230901,NaN,2,5,10,260,2,1,...,2,2,2,600.0,30.0,0.0,0,20080805.0,0,NaN
3,3,0000525AB30E4DEF,19201001,NaN,2,1,31,300,2,2,...,2,2,2,240.0,190.0,0.0,0,20080525.0,0,NaN
4,4,0000525AB30E4DEF,19201001,NaN,2,1,31,300,2,2,...,2,2,2,240.0,190.0,0.0,0,20080918.0,0,NaN

In [9]:
working_df = patient_demographics[['DESYNPUF_ID', 'Y', 'fst_admsn_dt']]